/* style.css */
@charset "utf-8";

*{margin: 0; padding: 0;}
#wrap{height: 2000px;}
#up{
  /* position: fixed; : top 바가 숨지 않고 항상 아래에 고정된다 */
  position: fixed;  /* absolut와 fixed는 브라우저 기준 */
  left: 0;
  bottom: 0;
  width: 100%;
  /* opacity - 투명도 조절하기 */
  opacity: 0; /* 완전히 투명하게 한다 */
  /* transition - 지연시간을 주기 */
  transition: all 0.5s; /* 모든 속성에 0.5초 지연시간을 준다 */
  visibility: hidden; /* TOP 메뉴를 숨긴다 */
}
#up.on{
  /* opacity - 투명도 조절하기 */
  opacity: 1; /* 완전 불투명(투명 -> 보이게) */
  /* 아래 스크롤 좌표가 100px이 넘어가면 
  TOP 메뉴가 나타나게 한다 */
  visibility: visible;   
}
#up a{
  display: block;
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}